body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.CreateQuestionPage {
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: -2vh;
}

.CreateQuestionPage h2 {
  font-family: "DotGothic16", sans-serif;
  text-align: center;
  margin-top: 6vh;
  color: #ffffff;
  font-size: 11vh;
  margin-bottom: 7vh;
  background-color: blue;
  width: 100vw;
}

.question-input {
  width: 80vw;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 1vh;
  padding: 3vh;
  border: 1vh solid;
  border-radius: 1.5vh;
  border-color: rgb(104, 108, 44);
  box-shadow: 10px 10px 20px rgb(36, 34, 22);
}

.answer-boxes {
  display: flex;
  gap: 5vw;
  margin-bottom: 5vh;
  max-width: 100vw;
}
.answer-boxes input{
  text-align: center;
  font-size: 5vh;
  border: 1vh solid;
  border-radius: 1.5vh;
  border-color: rgb(104, 108, 44);
  box-shadow: 10px 10px 20px rgb(36, 34, 22);
  width: 10vh;
  aspect-ratio: 1 / 1;
}

.CreateQuestionPage select {
  width: 500px;
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  padding: 3vh;
  border: 1vh solid;
  border-radius: 1.5vh;
  border-color: blue;
  box-shadow: 10px 10px 20px rgb(36, 34, 22);
}

.CreateQuestionPage button {
  color: white;
  margin-top: 1vh;
  border-radius: 3vh;
  border-color: white;
  border-width: 0.5vh;
  font-size: 4vh;
  font-weight: bold;
  padding: 2.5vh 7vh 2.5vh 7vh;
  box-shadow: 10px 10px 20px rgb(36, 34, 22);
  background-color: blue;
}

.CreateQuestionPage button:hover {
  background-color: rgb(255, 255, 255);
  color: blue;
  cursor: pointer;
  border-color: blue;
  border-width: 0.5vh;
}

.CreateQuestionPage h3 {
  font-size: 6vh; /* ← 文字サイズ（大きくする） */
  color: black; /* ← 色 */
  margin-bottom: 2vh; /* 入力欄との間隔 */
  text-align: center; /* 中央寄せ */
}
