body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.HomePage {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(/img/メカニック.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DotGothic16", sans-serif;
  /* allow content to overflow vertically so page can scroll when tall */
  overflow: visible;
}
.HomePage img {
  height: 32vh;
  margin-bottom: 3vh;
  margin-top: 14vh;
}

.HomePage h1 {
  text-align: center;
  align-items: center;
  color: rgb(55, 71, 69);
  font-size: 4vh;
  margin-bottom: 1vh;
  width: 100vw;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10vw;
  width: 100%;
}
.HomePage button {
  color: white;
  margin-top: 8vh;
  border-radius: 3vh;
  border-color: white;
  border-width: 0.5vh;
  font-size: 7vh;
  font-weight: bold;
  padding: 4vh 10vh 4vh 10vh;
  box-shadow: 10px 10px 20px rgb(36, 34, 22);
  background-color: blue;
}

.HomePage button:hover {
  background-color: rgb(255, 255, 255);
  color: blue;
  cursor: pointer;
  border-color: blue;
  border-width: 0.5vh;
}
