body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.MatchingPage {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(/img/ネプリーグ待機セット.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MatchingPage h2 {
    font-family: "DotGothic16", sans-serif;
    color: #ff0000;
    font-size: 11vh;
    margin-bottom: 12vh;
    background-color: black;
    width: 100vw;
    text-align: center;
}

.info-box {
    border-radius: 2vh;
    text-align: left;
    font-size: 4vh;
}