body, html {
    background-color: yellow;
    height: auto;
}

.MatchingPage {
    background-image: url(/img/ネプリーグ待機セット.png);
    height: auto;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.MatchingPage h2 {
    font-family: "DotGothic16", sans-serif;
    color: #ff0000;
    font-size: 11vh;
    margin-bottom: 5vh;
    background-color: black;
    width: 100vw;
    text-align: center;
    margin-top: 5vh;
}

.info-box {
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 3.5vh;
    margin-bottom: 5vh;
}

.player-list {
   background-color: rgba(255, 255, 255, 0.8) ;
   box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.5);
   padding: 4vh 6vw 2vh 6vw;
   border-radius: 2vh;
   font-size: 4.5vh;
}

.mode-select {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.5vh;
}

.MatchingPage-select {
    width: 40vw;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 5vh;
    padding: 3vh;
    border: 1vh solid;
    border-radius: 1.5vh;
    border-color: blue;
    box-shadow: 10px 10px 20px rgb(36, 34, 22) ;
}

.MatchingPage-button {
    color: white;
    margin-bottom: 10vh;
    border-radius: 3vh;
    border-color: white;
    border-width: 0.5vh;
    font-size: 4vh;
    font-weight: bold;
    padding: 4vh 5vh;
    box-shadow: 10px 10px 20px rgb(36, 34, 22) ;
    background-color: blue;
}

.MatchingPage-button:hover {
    background-color: rgb(255, 255, 255);
    color: blue;
    cursor: pointer;
    border-color: blue;
    border-width: 0.5vh;
}