body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.PlaySetupPage {
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(/img/ネプリーグ待機セット.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "DotGothic16", sans-serif;
}

.PlaySetupPage h2 {
    color: #ff0000;
    font-size: 11vh;
    margin-bottom: 9vh;
    background-color: black;
    width: 100vw;
    text-align: center;
    
}

.PlaySetupPage button {
    color: white;
    margin-top: 8vh;
    border-radius: 3vh;
    border-color: white;
    border-width: 0.5vh;
    font-size: 5vh;
    font-weight: bold;
    padding: 3vh 7vh 3vh 7vh;
    box-shadow: 10px 10px 20px rgb(36, 34, 22) ;
    background-color: blue;
}

.PlaySetupPage button:hover {
    background-color: rgb(255, 255, 255);
    color: blue;
    cursor: pointer;
    border-color: blue;
    border-width: 0.5vh;
}