body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.QuizPage {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(/img/メカニック.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/*Are you ready?↓*/
.h1 {
  color: black;
  font-size: 30vh;
  text-align: center;
}
/*名前・解答欄・解答画面*/
.QuizBox {
  position: fixed;
  bottom: 1vh;
  width: 100vw;
  height: 40vh;
  z-index: 0;
  background-color: transparent;
}
.QuizBox2 {
  background-color: transparent;
  display: flex;
  justify-content: center;
  gap: 4.5vw;
  z-index: 1;
}
.QuizBox3 {
  flex-direction: column;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 2;
}
.players {
  position: absolute;
  color: rgb(0, 0, 0);
  font-size: 3.5vh;
  text-align: center;
  z-index: 3;
}
.quizbox {
  margin-top: 9vh;
  width: 37vh;
  text-align: center;
  z-index: 5;
}
.answers {
  min-width: 10vw;
  position: absolute;
  color: white;
  font-size: 10vh;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 4vh 4vw 4vh 4vw;
  z-index: 4;
  margin-top: 11.5vh;
}

/*問題文*/
.DisplayText {
  text-align: center;
}
.h2 {
  color: black;
  max-width: 65vw;
  font-size: 6vh;
  margin-top: -6vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 7vh 3vw 7vh 3vw;
  border-radius: 2vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
.AnswerButton1 {
  color: white;
  bottom: 20vh;
  padding: 3vh 3vw 3vh 3vw;
  font-size: 4vh;
  background-color: rgb(0, 0, 236);
  border: none;
  border-radius: 5vh;
  box-shadow: 0.5vh 1vh 2vh rgba(11, 16, 52, 0.699);
}
.AnswerButton1:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 236);
  border: 3px solid blue;
}
.input{
  text-align: center;
  font-size: 8vh;
  border: 1vh solid;
  border-radius: 1.5vh;
  border-color: blue;
  box-shadow: 0.5vh 1vh 2vh rgba(11, 16, 52, 0.699);
  padding: 1.5vw 1.5vw 1.5vw 1.5vw;
  width: 12vh;
  aspect-ratio: 1 / 1;
  margin-right: 5vw;
}